includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - database/
        - src/
        - tests/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#not covariant with PHPDoc type list<string>#'